@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Mali');

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
    outline: none;
}

body {
    background: #E5E5E5;
    background-image: url("bg.jpg");
}

#book, .paper {
    height: 580px;
}

#book {
    width: 480px;
    margin: auto;
    perspective: 4000px;
    position: relative;
    transition: transform 0.5s linear;
    margin-top: 100px;
}

.in-read {
    transform: translateX(50%);
    transition: transform 0.5s linear;
}

.paper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #FFEFEF;
    transform-origin: left;
    transition: transform 0.5s linear;
    transform-style: preserve-3d;
    perspective: 4000px;
    /* box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.25), 0 0 1px rgba(0, 0, 0, 0.5); */
}

.paper .front {
    transition: background 0.5s linear;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.paper .back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    backface-visibility: hidden;
    transform: translateZ(-1px) rotateY(180deg);
    background-color: #ffefef;
}

.close-fully {
    transform: rotateY(0deg);
    position: absolute;
    left: 0;
    top: 0;
}

.close-half {
    transform: rotateY(-90deg);
    position: absolute;
    left: 0;
    top: 0;
}

.open-fully {
    transform: rotateY(-180deg);
    position: absolute;
    left: 0;
    top: 0;
}

.open-half {
    transform: rotateY(-90deg);
    position: absolute;
    left: 0;
    top: 0;
}

.page-content {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin-top: 5px;
    margin-left: 5px;
    position: relative;
    padding: 10px;
}

.page-value {
    width: 100%;
    height: calc(100% - 7px);
    outline: none;
}

/* .page-value span {
    width: 100%;
    height: 100%;
} */

.page-value p {
    font-size: 13px;
    line-height: 18px;
    margin: 0px;
}

.page-value h1 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin: 0px;
}

.page-value h2 {
    font-size: 19.5px;
    line-height: 27px;
    font-weight: 700;
    margin: 0px;
}

.page-content img {
    max-width: 90%;
    height: auto;
    margin: 0px auto;
}

.page-index {
    position: absolute;
    bottom: 0px;
    left: 50%;
}

.cover {
    width: calc(100% + 14px);
    height: calc(100% + 28px);
    position: absolute;
    left: 0;
    top: -14px;
    background-color: #ff0000;
    transform-origin: left;
    transition: transform 0.5s linear;
    transform-style: preserve-3d;
    perspective: 4000px;
    z-index: -100;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2), 0 0 1px rgba(0, 0, 0, 0.2);
}

.cover .front {
    transition: background 0.5s linear;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
}

.cover .back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    backface-visibility: hidden;
    transform: translateZ(-1px) rotateY(180deg);
    background-color: #becfd6;
    border-right: 1px solid #5f67ff;
}

.back-cover {
    width: calc(100% + 14px);
    height: calc(100% + 28px);
    position: absolute;
    left: 0;
    top: -14px;
    background-color: #becfd6;
    border-left: 1px solid #5f67ff;
    z-index: -1000;
}

.back-cover-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back-cover-wrapper button {
    z-index: -999;
    outline: none;
    border: 1px solid #404373;
    width: auto;
    height: 32px;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Mali', cursive;
}

.back-cover-wrapper input {
    z-index: -999;
    width: 180px !important;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #404373;
    width: auto;
    height: 32px;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Mali', cursive;
}

.back-cover-wrapper p {
    margin: 3px;
}

.editor-space {
    z-index: 2000;
    width: 1200px;
    height: 90vh;
    background-color: #BECFD6;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(80%, -50%) rotate(90deg) scale(0.1);
    transition: 1s;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
    border-radius: 6px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 40px;
}

.editor-space-open {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    transition: 1s;
}

.editor-space .paper {
    width: 480px;
    height: 580px;
    position: relative;
}

#editor {
    width: 480px;
    height: 580px;
    background-color: #ffefef;
}

#editor img {
    max-width: 90%;
    height: auto;
}

.button-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.button-list button {
    outline: none;
    border: 1px solid #404373;
    width: 80px;
    height: 32px;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0);
}

#open, #close {
    width: 50px;
    height: 120px;
    position: fixed;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.15);
    transform: translateY(-50%);
    outline: none;
    cursor: pointer;
    border: none;
    z-index: 1111;
}

#close:hover i {
    transform: scale(1.7);
}

#open:hover i {
    transform: scale(1.7);
}


#open, #close i {
    font-size: 20px;
}

#open {
    right: 0px;
}

#close {
    left: 0px;
}

* {
    font-family: 'Mali', cursive;
}

.ql-editor {
    white-space: normal !important;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
